<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/8786c39b09.js"></script>
    
    <title>Cadastrar Cadastro</title>
</head>
<body>
    <div class="container mt-3 p-5 rounded-2 bg-dark">
        <h3 class="text-light">Cadastrar Cadastro</h3>
        <hr class="bg-light">

        <!-- Formulário de Cadastro -->
        <form action="{% url 'salvar_cadastro' %}" method="POST">
            {% csrf_token %}
            
            <!-- Seção de Cadastro -->
            <h4 class="text-light">Dados do Cadastro</h4>

            <!-- Campos do formulário -->
            <div class="mb-3">
                <label class="text-light form-label" for="nome">Nome:</label>
                <input type="text" name="nome" class="form-control border border-secondary" id="nome" required>
            </div>

            <div class="mb-3">
                <label class="text-light form-label" for="sobrenome">Sobrenome:</label>
                <input type="text" name="sobrenome" class="form-control border border-secondary" id="sobrenome" required>
            </div>

            <div class="mb-3">
                <label class="text-light form-label" for="idade">Idade:</label>
                <input type="number" name="idade" class="form-control border border-secondary" id="idade" required>
            </div>

            <div class="mb-3">
                <label class="text-light form-label" for="telefone">Telefone:</label>
                <input type="text" name="telefone" class="form-control border border-secondary" id="telefone" required>
            </div>

            <div class="mb-3">
                <label class="text-light form-label" for="escolha_acompanhamento">Escolha Acompanhamento:</label>
                <select name="escolha_acompanhamento" class="form-select border border-secondary" id="escolha_acompanhamento" required>
                    <option value="">Selecione uma opção</option>
                    <!-- Opções de acompanhamento -->
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Salvar Cadastro</button>
        </form>
    </div>

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
