<!DOCTYPE html>
<html lang="pt-br">
{% load static %}  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/8786c39b09.js"></script>
    
    <title>Detalhes do Movimento</title>
</head>
<body>
    <div class="container mt-3 p-5 rounded-2 bg-dark">
        <h3 class="text-light">Detalhes do Movimento</h3>
        <hr class="bg-light">

        <!-- Seção de Detalhes do Movimento ----->
        <div class="mb-3 text-light">
            <strong>Nome do Evento:</strong> {{ movimento.nome_evento }}
        </div>
        <div class="mb-3 text-light">
            <strong>Endereço do Evento:</strong> {{ movimento.endereco_evento }}
        </div>
        <div class="mb-3 text-light">
            <strong>Data do Evento:</strong> {{ movimento.data_evento|date:"d/m/Y" }}
        </div>
        <div class="mb-3 text-light">
            <strong>Observações:</strong> {{ movimento.observacoes }}
        </div>

        <!-- Botões de Ação -->
        <a href="{% url 'editar_movimento' movimento.id %}" class="btn btn-primary">Editar</a>
        <a href="{% url 'deletar_movimento' movimento.id %}" class="btn btn-danger">Deletar</a>
        <a href="{% url 'lista_movimentos' %}" class="btn btn-secondary">Voltar à Lista</a>
    </div>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
