{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/8786c39b09.js"></script>
    <title>Criar Cadastro</title>
</head>
<body>
    <div class="container mt-3 p-5 rounded-2 bg-dark">
        <div class="mb-4">
            <a href="{% url 'lista_cadastros' %}" class="btn btn-secondary">
                <i class="fa fa-arrow-left"></i> Voltar para a lista
            </a>
        </div>
        <div class="card bg-light">
            <div class="card-header">
                Novo Cadastro
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'criar_cadastro' %}">
                    {% csrf_token %}
                    <h4 class="text-dark">Dados Pessoais</h4>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="nome" class="form-label">Nome:</label>
                            <input type="text" class="form-control" id="nome" name="nome" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="sobrenome" class="form-label">Sobrenome:</label>
                            <input type="text" class="form-control" id="sobrenome" name="sobrenome" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="idade" class="form-label">Idade:</label>
                            <input type="number" class="form-control" id="idade" name="idade" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="telefone" class="form-label">Telefone:</label>
                            <input type="tel" class="form-control" id="telefone" name="telefone" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="escolha_acompanhamento" class="form-label">Igreja Acompanhamento:</label>
                            <input type="text" class="form-control" id="escolha_acompanhamento" name="escolha_acompanhamento" required>
                        </div>
                    </div>

                    <h4 class="text-dark">Endereço</h4>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="endereco" class="form-label">Endereço:</label>
                            <input type="text" class="form-control" id="endereco" name="endereco" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="numero" class="form-label">Número:</label>
                            <input type="number" class="form-control" id="numero" name="numero" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="cep" class="form-label">CEP:</label>
                            <input type="text" class="form-control" id="cep" name="cep" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="bairro" class="form-label">Bairro:</label>
                            <input type="text" class="form-control" id="bairro" name="bairro" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="cidade" class="form-label">Cidade:</label>
                            <input type="text" class="form-control" id="cidade" name="cidade" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="estado" class="form-label">Estado:</label>
                            <input type="text" class="form-control" id="estado" name="estado" required>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Salvar Cadastro</button>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
