{% load static %} 
<!DOCTYPE html>
<html lang="pt-br"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/8786c39b09.js"></script>
    <title>Deletar Cadastro</title>
</head>
<body>
    <div class="container mt-3 p-5 rounded-2 bg-dark">
        <h3 class="text-light">Deletar Cadastro</h3>
        <hr class="bg-light">

        <form action="{% url 'deletar_cadastro' cadastro.id %}" method="post">
            {% csrf_token %}
            <div class="alert alert-danger" role="alert">
                Tem certeza de que deseja deletar o cadastro de <strong>{{ cadastro.nome }} {{ cadastro.sobrenome }}</strong>?
            </div>

            <button type="submit" class="btn btn-danger">Deletar</button>
            <a href="{% url 'lista_cadastros' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
