<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/8786c39b09.js"></script>
    
    <title>Cadastro de Pessoas</title>
</head>
<body>
    <div class="container mt-3 p-5 rounded-2">
        <h3 class="text-light">CADASTRO DE PESSOAS</h3>
        <hr class="bg-light">

        <!-- Formulário de Cadastro -->
        <form action="{% url 'salvar' %}" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label class="text-light" for="nome" class="form-label">Nome:</label>
            <input type="text" name="nome" class="form-control border border-secondary" id="nome">
          </div>

          <div class="mb-3">
            <label class="text-light" for="email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="email">
          </div>

          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>

        <hr class="bg-light">

        <!-- Tabela de Pessoas -->
        <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Ação</th>
              </tr>
            </thead>
            <tbody>
                {% for pessoa in pessoas %}
                    <tr>
                        <td scope="row">{{ pessoa.id }}</td>
                        <td>{{ pessoa.nome }}</td>
                        <td>{{ pessoa.email }}</td>
                        <td>
                            <a type="button" class="btn btn-warning btn-sm" role="button" href="{% url 'editar' pessoa.id %}">
                                <i class="far fa-edit"></i>&nbsp;Editar
                            </a>
                            <!-- Formulário de Exclusão -->
                            <form action="{% url 'delete' pessoa.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">
                                    <i class="far fa-trash-alt"></i>&nbsp;Excluir
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>

    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
